img {
    display: block;
    max-width: 100%;
    margin: auto;
}

body {
    background-color: #41f6fc;
    margin: auto;
}

section {
    width: 800px;
    margin: auto;
}

#gamecontrol {
    background: url(images/wood.jpg);
    width: 800px;
    height: 210px;
    border-radius: 1em;
}

.quote {
    height: 200px;
    display: flex;
    justify-content: center;
}

.quote div {
    padding-top: 20px;
}

#profile {
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 20px;
}

h1, h2, p, button, a {
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 2.2em;
    text-align: center;
    margin: 15px 0;
}

h2 {
    font-size: 1.6em;
    position: relative;
    right: -105px;
    top: -100px;
}

#gamecontrol button {
    padding: 8px 15px;
    font-size: 1.6em;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    position: relative;
    right: -340px;
    top: -60px;
}

#startgame {
    background-color: #76FF45;
}

#cats {
    justify-items: center;
    width: 870px;
    height: 220px;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -100;
}

#actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1em;
    position: absolute;
    top: 600px;
    right: 0;
    left: 0;
}

#orange {
    margin-left: 30px;
    margin-top: 20px;
}

#tuxedo {
    margin-right: 0;
}

#actions button {
    font-size: 1.6em;
    border-radius: 6px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#roll {
    background-color: #76FF4E;
}

#pass {
    background-color: #41CFFF;
}

.quit {
    background-color: #D91317;
    color: white;
}

#game {
    justify-items: center;
    text-align: center;
}

#game p {
    position: absolute;
    font-size: 1.4em;
    margin: 10px 0px;
}

em {
    color:#D91317;
}

#game button {
    visibility: hidden;
    opacity: 0;
}

#game div{
    width: 180px;
    display: flex;
    position: relative;
    bottom: -220px;
}

#score {
    text-align: center;
    font-size: 1.2em;
    display: flex;
    gap: 460px;
    justify-content: center;
    position: relative;
    bottom: -220px;
    z-index: -1;
}

#score p {
    color: white;
    font-size: 1.4em;
    border-radius: 6px;
    background: url(images/wood.jpg);
    padding: 10px 15px;
    position: relative;
    top: -50px;
}

footer { 
    background: #29a0a4;
    padding: 10px 0;
    margin: 0 auto;     
    position: absolute; 
    bottom: 0; 
    right: 0;
    left: 0;
    text-align: center;      
}

footer a {
    text-decoration: none;
    font-size: 1.4em;
    color: white;
}

.winner {
    animation: bigger 3s infinite linear;
}

.congrats {
    color: #D91317;
}

@keyframes bigger {
    0% {transform: scale(1);}
    100% {transform: scale(1.6);}
}