img {
    display: block;
    max-width: 100%;
    margin: auto;
}

body {
    background-color: white;
    margin: auto;
}

#gamecontrol {
    margin: auto;
    background: url(images/wood.jpg);
    width: 800px;
    height: 230px;
    border-radius: 1em;
    padding: 0 20px;
}

.quote {
    height: 200px;
    display: flex;
    justify-content: center;
}

.quote div {
    padding-top: 30px;
}

#profile {
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 30px;
}

h1, p, button {
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 2.2em;
    text-align: center;
}

p {
    font-size: 1.6em;
    position: relative;
    right: -105px;
    top: -100px;
}

#startgame {
    width: 115px;
    height: 50px;
    font-size: 1.6em;
    background-color: #76FF45;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 4px;
    position: relative;
    right: -350px;
    top: -50px;
}

#game {
    width: 800px;
    margin: auto;
}

#cats {
    display: flex;
}

#actions {
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#orange {
    margin-top: 50px;
}

#tuxedo {
    margin-right: 30px;
}

#green {
    font-size: 1.2em;
    background-color: #76FF4E;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}
   
#blue {
    font-size: 1.2em;
    background-color: #41CFFF;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

.quit {
    background-color: #D91317;
    color: white;
}