img {
    display: block;
    max-width: 100%;
    margin: auto;
}

body {
    background-color:#191919;
    max-width: 100%;
}

header {
    text-align: center;
    padding-top: 60px;
    color: whitesmoke;
}

header p {
    font-size: 1.2em;
}

h2, p {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6em;
}

h2 {
    height: 1em;
    font-size: 1em;
    padding: 10px;
}

h1 {
    font-family: "Zen Loop", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}

.emphasis {
    box-sizing: border-box;
    background-color: greenyellow;
    height: 20px;
}

.carousel {
    width: 95%;
    margin: auto;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.pictures {
    display: flex;
    gap: 1em;
    animation: slide 10s infinite linear;
}

.pictures:hover {
    animation-play-state: paused;
}

section {
    display: flex;
    flex-direction: column;
    padding: 55px 20px;
    perspective: 100px;
}

article {
    width: 375px;
    height: 130px;
    display: flex;
}

article p {
    padding: 10px;
}

section:hover img{
    transform: translateZ(20px);
    border-top: 4px solid greenyellow;
    border-right: 4px solid greenyellow;
    border-left: 4px solid greenyellow;
}

section:hover article {
    background-color: greenyellow;
    transform: translateZ(20px);
    border-bottom: 4px solid greenyellow;
    border-right: 4px solid greenyellow;
    border-left: 4px solid greenyellow;
}

@keyframes slide {
    from {translate: 0;}
    to {translate: -100%;} 
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}